<section class="breadcrumb">
    <div class="container">
        <div class="content">
            <div class="title">
                <h1>SHOP</h1>
            </div>
            <ul>
                <li>HOME</li>
                <li>PRODUCT DETAILS</li>
            </ul>
        </div>
    </div>
</section>
<div class="product-details">
	<div class="container">
		<div class="item">
            <div class="product-images">
                <img class="main-image" src="../../images/placeholders/501x430.svg" alt="Stor bild">
                <div class="thumbnail-images">
                    <img class="thumbnail" src="../../images/placeholders/120x113.svg" alt="Liten bild 1">
                    <img class="thumbnail" src="../../images/placeholders/120x113.svg" alt="Liten bild 2">
                    <img class="thumbnail" src="../../images/placeholders/120x113.svg" alt="Liten bild 3">
                    <img class="thumbnail" src="../../images/placeholders/120x113.svg" alt="Liten bild 4">
                </div>
            </div>
            <div class="product-info">
                <div class="item-header">
                    <h2 class="title">Apple watch collection</h2>
                    <p class="description">    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae atque suscipit assumenda magnam sint? Voluptates nam quam doloremque. Rerum, natus? Officiis unde officia, velit nostrum laborum consectetur, placeat quos, qui sapiente nihil reiciendis id? Quis iste rerum distinctio architecto.</p>
                </div>
                <div class="reviews">
                    <i class="fa-solid fa-star star-icon"></i>
                    <i class="fa-solid fa-star star-icon"></i>
                    <i class="fa-solid fa-star star-icon"></i>
                    <i class="fa-solid fa-star star-icon"></i>
                    <i class="fa-solid fa-star star-icon"></i>
                    <p>16 Reviews</p>
                </div>
                <p class="price">Price: $19.99</p>
                <div class="add-to-cart">
                    <div class="quantity">
                        <button class="decrement-button">-</button>
                        <div class="quantity-element"></div>
                        <input type="number" class="quantity-input" value="1" min="1" readonly>
                        <button class="increment-button">+</button>
                    </div>
                    <button class="add-to-cart-btn btn-theme">Add to Cart<i class="add-cart fa-regular fa-cart-plus"></i></button>
                </div>
                
                <div class="availability">
                    <div class="status-circle"></div>
                    <p>Lagersaldo: 10 stycken</p>
                </div>
                <div class="category-and-btn">
                    <button class="add-to-wishlist-btn btn-theme">Add to wishlist</button>
                    <p class="category">Category: Elektronik</p>
                </div>
                
            </div>
		</div>
        <div class="item-description">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            DESCRIPTION
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="accordion-desc-item">
                                <div class="desc-item-title">
                                    <h2 class="title">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sapiente sed voluptatem necessitatibus.
                                    </h2>
                                </div>
                                <div class="desc-item-content">
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, voluptas aut! Distinctio cum, laudantium doloremque temporibus iure, accusantium a id animi perferendis repudiandae ea voluptas? A ipsum fugit perferendis fugiat quia rerum blanditiis alias cum! Unde vel ducimus laboriosam eveniet ipsa, iusto, tempora tempore facilis libero voluptatem voluptatum animi! Soluta quidem adipisci libero deleniti exercitationem ut nihil, similique reprehenderit expedita, et impedit eum omnis quis consequuntur. Repellat tenetur facere totam architecto accusamus exercitationem deserunt omnis eveniet iste doloremque sunt explicabo illum error maiores mollitia aliquid labore, earum optio ullam hic, cum aspernatur natus autem sint. Nulla nostrum reiciendis quas id mollitia ratione perspiciatis modi at fugit, porro cum aut, distinctio voluptatibus. Earum nobis corporis nostrum, et maxime, amet dolorem alias repudiandae, magni assumenda debitis eum illo totam in doloribus aspernatur laudantium perspiciatis officia dicta recusandae. Voluptate repudiandae odit voluptatem quis ipsum, molestias minus ea rem dolorum praesentium itaque temporibus natus!
                                    </p>
                                    <div class="desc-item-img">
                                        <img class="item-img" src="../../images/placeholders/469x356.svg" alt="" />
                                        <div class="desc-item-status">
                                            <div class="status">
                                                New
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            ADDITIONAL INFO
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            REVIEWS (0)
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            SHIPPING & DELIVERY
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
            <nav class="item-nav">
                <ul class="item-ul">
                    <li class="item-li btn-theme">
                        <a class="item-desc">
                        DESCRIPTION
                        </a>
                    </li>
                    <li class="item-li">
                        <a class="item-ad-info">
                        ADDITIONAL INFO
                        </a>
                    </li>
                    <li class="item-li">
                        <a class="item-rev">
                        REVIEWS (0)
                        </a>
                    </li>
                    <li class="item-li">
                        <a class="sh-delivery">
                        SHIPPING & DELIVERY
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="desc-item">
                <div class="desc-item-title">
                    <h2 class="title">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sapiente sed voluptatem necessitatibus.
                    </h2>
                </div>
                <div class="desc-item-content">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, voluptas aut! Distinctio cum, laudantium doloremque temporibus iure, accusantium a id animi perferendis repudiandae ea voluptas? A ipsum fugit perferendis fugiat quia rerum blanditiis alias cum! Unde vel ducimus laboriosam eveniet ipsa, iusto, tempora tempore facilis libero voluptatem voluptatum animi! Soluta quidem adipisci libero deleniti exercitationem ut nihil, similique reprehenderit expedita, et impedit eum omnis quis consequuntur. Repellat tenetur facere totam architecto accusamus exercitationem deserunt omnis eveniet iste doloremque sunt explicabo illum error maiores mollitia aliquid labore, earum optio ullam hic, cum aspernatur natus autem sint. Nulla nostrum reiciendis quas id mollitia ratione perspiciatis modi at fugit, porro cum aut, distinctio voluptatibus. Earum nobis corporis nostrum, et maxime, amet dolorem alias repudiandae, magni assumenda debitis eum illo totam in doloribus aspernatur laudantium perspiciatis officia dicta recusandae. Voluptate repudiandae odit voluptatem quis ipsum, molestias minus ea rem dolorum praesentium itaque temporibus natus!
                    </p>
                    <div class="desc-item-img">
                        <img class="item-img" src="../../images/placeholders/469x356.svg" alt="" />
                        <div class="desc-item-status">New</div>
                    </div>
                </div>
            </div>
            @*<div class="additional-info">
                <div class="desc-item-title">
                    <h2 class="title">
                        ADDITIONAL INFO TITLE.
                    </h2>
                </div>
                <div class="desc-item-content">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, voluptas aut! Distinctio cum, laudantium doloremque temporibus iure, accusantium a id animi perferendis repudiandae ea voluptas? A ipsum fugit perferendis fugiat quia rerum blanditiis alias cum! Unde vel ducimus laboriosam eveniet ipsa, iusto, tempora tempore facilis libero voluptatem voluptatum animi! Soluta quidem adipisci libero deleniti exercitationem ut nihil, similique reprehenderit expedita, et impedit eum omnis quis consequuntur. Repellat tenetur facere totam architecto accusamus exercitationem deserunt omnis eveniet iste doloremque sunt explicabo illum error maiores mollitia aliquid labore, earum optio ullam hic, cum aspernatur natus autem sint. Nulla nostrum reiciendis quas id mollitia ratione perspiciatis modi at fugit, porro cum aut, distinctio voluptatibus. Earum nobis corporis nostrum, et maxime, amet dolorem alias repudiandae, magni assumenda debitis eum illo totam in doloribus aspernatur laudantium perspiciatis officia dicta recusandae. Voluptate repudiandae odit voluptatem quis ipsum, molestias minus ea rem dolorum praesentium itaque temporibus natus!
                    </p>
                    <div class="desc-item-img">
                        <img class="item-img" src="../../images/placeholders/469x356.svg" alt="" />
                        <div class="desc-item-status">New</div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="relaterad-items">
            <partial name="/Views/Partials/_GridCollection.cshtml" model="@Model.BestCollection" />
        </div>
	</div>
    <div class="related-footer">
        <div class="related-images container">
            <img class="related-img" src="../../images/placeholders/200x122.svg" alt="Liten bild 1">
            <img class="related-img" src="../../images/placeholders/200x122.svg" alt="Liten bild 2">
            <img class="related-img" src="../../images/placeholders/200x122.svg" alt="Liten bild 3">
            <img class="related-img" src="../../images/placeholders/200x122.svg" alt="Liten bild 4">
            <img class="related-img" src="../../images/placeholders/200x122.svg" alt="Liten bild 5">
        </div>
    </div>
</div>



















@*<div class="product-details">
    <div class="product-images">
        <img class="main-image" src="path-to-main-image.jpg" alt="Stor bild">
        <div class="thumbnail-images">
            <img class="thumbnail" src="path-to-thumbnail1.jpg" alt="Liten bild 1">
            <img class="thumbnail" src="path-to-thumbnail2.jpg" alt="Liten bild 2">
            <img class="thumbnail" src="path-to-thumbnail3.jpg" alt="Liten bild 3">
            <img class="thumbnail" src="path-to-thumbnail4.jpg" alt="Liten bild 4">
        </div>
    </div>

    <div class="product-info">
        <h2 class="title">Produktnamn</h2>
        <p class="description">Beskrivning av produkten</p>
        <div class="reviews">
            <p>Recensioner: 4.5 / 5</p>
        </div>
        <p class="price">Pris: $19.99</p>
        <div class="quantity">
            <button class="decrement-button">-</button>
            <input type="number" class="quantity-input" value="1" min="1">
            <button class="increment-button">+</button>
        </div>
        <button class="add-to-cart-button">Lägg till i varukorgen</button>
        <div class="availability">
            <div class="status-circle"></div>
            <p>Lagersaldo: 10 stycken</p>
        </div>
        <button class="add-to-wishlist-button">Lägg till i önskelistan</button>
        <p class="category">Kategori: Elektronik</p>
    </div>
</div>*@
