@model RegisterViewModel
<div class="register">
    <div class="container">
        <form method="post" id="register-form" novalidate>
            <p>Plase Register Your new Account</p>
            <div class="f-l-name">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input id="firstname" asp-for="FirstName">
                    <small><span asp-validation-for="FirstName" class="text-denger"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input id="lastname" asp-for="LastName">
                    <small><span asp-validation-for="LastName" class="text-denger"></span></small>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StreetName"></label>
                <input id="streetname" asp-for="StreetName">
                <small><span asp-validation-for="StreetName" class="text-denger"></span></small>
            </div>
            <div class="postal-city">
                <div class="form-group">
                    <label asp-for="PostalCode"></label>
                    <input id="postcode" asp-for="PostalCode">
                    <small><span asp-validation-for="PostalCode" class="text-denger"></span></small>
                </div>

                <div class="form-group">
                    <label asp-for="City"></label>
                    <input id="city" asp-for="City">
                    <small><span asp-validation-for="City" class="text-denger"></span></small>
                </div>
            </div>
            <div class="option">
                <div class="form-group">
                    <label asp-for="MobileNummber"></label>
                    <input id="mobile" asp-for="MobileNummber">
                    <small><span asp-validation-for="MobileNummber" class="text-denger"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="Company"></label>
                    <input id="company" asp-for="Company">
                    <small><span asp-validation-for="Company" class="text-denger"></span></small>
                </div>
            </div>      
            <div class="form-group">
                <label asp-for="Email"></label>
                <input id="email" asp-for="Email">
                <small><span asp-validation-for="Email" class="text-denger"></span></small>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input id="password" asp-for="Password">
                <small><span asp-validation-for="Password" class="text-denger"></span></small>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input id="confirm-password" asp-for="ConfirmPassword">
                <small><span asp-validation-for="ConfirmPassword" class="text-denger"></span></small>
            </div>
            <label class="custom-checkbox">
                I have read and accepts the terms and agreements
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <div class="buttens">
                <button class="btn-theme btn-left" type="submit">Registrera</button>
                <a asp-controller="account" asp-action="login" class="btn-theme btn-right link">Login</a>
            </div>
            
        </form>

    </div>
</div>