@import '../core/_colors.scss';
.login {
    height: 100vh;
    display: flex;
    align-content: center;
    padding: 80px 0px;

    .container {
        padding-top: 80px;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.03); // Lägger till en skugga
        #login-form {
            padding: 20px;

            .validation-summary-errors{

                ul{
                    list-style: none;
                    li {
                        color: red;
                    }
                }
            }
            p {
                display: flex;
                justify-self: flex-start;
                margin-bottom: 50px;
            }

            .form-group {


                label {
                    display: block;
                    margin-bottom: 5px;
                    text-align: left;
                }

                input[type="text"],
                input[type="password"],
                input[type="email"] {
                    width: 100%;
                    height: 50px;
                    padding: 10px;
                    border: none;
                    border-radius: 3px;
                    margin-bottom: 20px;
                }
            }

            .custom-checkbox {
                display: flex;
                justify-self: flex-start;
            }

            .buttens {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;

                .btn-right {
                    /*margin-top: 20px;*/
                    /*display: inline-block;*/
                }

                .btn-left {
                    /* order: -1;
                    margin-right: 10px;*/
                }
            }
            /*button {
                margin-top: 20px;
                display: block;
                order: -1; // Ordningen ändras för att placera knappen till vänster
            }*/
        }
    }
}
