.register {
    /*height: 100vh;
    display: flex;
    align-content: center;*/
    padding: 40px 0px;

    .container {
        padding: 20px;
        padding-top: 80px;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.03); // Lägger till en skugga

        #register-form {
            padding: 20px;

            .validation-summary-errors{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                ul{
                    list-style: none;
                    padding: 0;
                    margin-bottom: 0;
                    li{
                        color: red;
                    }
                }
            }
            .f-l-name {
                display: flex;
                gap: 25px;

                .form-group {
                }
            }

            .postal-city {
                display: flex;
                gap: 25px;
            }

            .option {
                display: flex;
                gap: 25px;
            }

            .form-group {
                label {
                    display: block;
                    margin-bottom: 5px;
                    text-align: left;
                    margin-top: 20px;
                }

                input[type="text"],
                input[type="password"],
                input[type="email"] {
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    border: none;
                    border-radius: 3px;
                }
            }

            .buttens {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;

                .btn-right {
                    /*margin-top: 20px;*/
                    /*display: inline-block;*/
                }

                .btn-left {
                    /* order: -1;
                    margin-right: 10px;*/
                }
            }
        }
    }
}
