
@model ProductsIndexViewModel
@inject ProductRepository productRepo
@{
    //ViewData["Title"] = Model.Title;
}

<div style="padding-top: 200px;">
    @foreach (var product in await productRepo.GetAsync())
    {
        <div><a asp-action="details" asp-route-id="@product.Id" >@product.Title</a></div>
        <div>
            @foreach (var category in product.ProductRelationshipEntities)
            {
                <span class="me-2">@category.Category.CategoryName</span>
            }
        </div>
    }
</div>
